*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020818;
    width: 90rem;
    height: 64rem;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30.125rem;
    height: 38.438rem;
}

.logotipo{
    display: flex;
    justify-content: center;
    padding: 0;
}

img{
    width: 16.75rem;
    height: 19.375rem;
}

.titles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 21.688rem;
    height: 8.625rem;
    margin-top: 1.938rem;
}

h1{
    color: #FF0000;
    width: 8.313rem;
    height: 4.938rem;
    text-align: center;
    font-family: 'Revalia', cursive;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
    line-height: 3.75rem;
    margin-bottom: 0.875rem;
}

h2{
    color: #FF0000;
    width: 21.688rem;
    height: 2.813rem;
    text-align: center;
    font-family: 'Revalia', cursive;
    font-weight: 400;
    font-size: 2.25rem;
    font-style: normal;
    line-height: 2.813rem;
}

.buttons{
    margin-top: 6rem;

}

.buttonBlack{
    width: 12.5rem;
    height: 2.5rem;
    background: transparent;
    color: #FFFFFF;
    border: 0.125rem solid #FF0000;
    border-radius: 1.25rem;
    font-family: 'Revalia', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.875rem;
    text-align: center;
    margin-right: 5.125rem;
    cursor: pointer;
}

.buttonRed{
    width: 12.5rem;
    height: 2.5rem;
    background: #FF0000;
    color: #FFFFFF;
    border: 0;
    border-radius: 1.25rem;
    font-family: 'Revalia', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.875rem;
    text-align: center;
    cursor: pointer;
}

/* CSS 3 - mobile IPhone 13 Pro Max  */

@media (max-width: 600px){
    *{
        border: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26.75rem;
        height: 57.875rem;
        margin: 0;
    }

    section{
        width: 13.188rem;
        height: 40.625rem;
    }

    .titles{
        margin-top: 1.938rem;
    }

    img{
        width: 13.188rem;
        height: 15.25rem;
    }

    h1{
        width: 8.313rem;
        height: 4.938rem;
        margin: 0;
        font-size: 3rem;
        text-align: end;
    }

    h2{
        margin: 0;
        width: 12.625rem;
        height: 5.625rem;
        font-size: 2.25rem;
    }

    .buttons{
        display: flex;
        align-items: center;
        margin-top: 6rem;
        justify-items: center;
        flex-direction: column;
        border: 0;
    }

    .buttonBlack{
        width: 12.5rem;
        height: 2.5rem;
        margin-bottom: 1.875rem;
        margin-right: 0;
        font-size: 1.5rem;
        line-height: 1.875rem;
    }

    .buttonRed{
        width: 12.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
}